body {
  margin: 0;
}

.testimonial-container {
  position: relative;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.testimonial-title {
  color: white;
  text-align: center;
}

.box {
  display: inline-block;
  width: 320px;
  height: 330px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px 0 rgb(0,0,0,0.4);
  margin: 0 5px 15px 5px;
  padding-top: 7px;
}

.box:hover {
  background-color: lightblue;
}

.box-content {
  padding: 0px;
  text-align: center;
}

.quote {
  max-width: 48px;
}

.box-content p {
  color: black;
  padding: 20px 0;
}

.user {
  max-width: 72px;
  border-radius: 50%;
}

.box-content h3 {
  color: blue;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

@media screen and (max-width: 1050px) {
  .container {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-container {
    display: block;
    width: 90%;
    margin-top: 0 auto;
  }
 .box {
   display: block;
    width: 85%;
    margin: 15px auto;
    height: auto;
    padding: 30px 8px;
  }
}